<h2>Hello, <%= @user.format_name false %></h2>

<h3>My courses</h3>
<% if @active_courses.empty? %>
  You don't currently have any courses going on! Check <%= link_to 'courses list', courses_path %> for available courses!
<% else %>
  <%= render 'courses', courses: @active_courses %>
<% end %>

<h3>Past courses</h3>
<% if @active_courses.empty? %>
  You haven't finished any courses!
<% else %>
  <%= render 'courses', courses: @finished_courses %>
<% end %>