<h2>Labtool</h2>

<div class="homepage-info">
  Welcome to labtool! If you have already registered an account, please login below. If you don't have an account yet, you will have to
  <%= link_to 'register one', register_path %> to be able to use the service.
</div>

<div class="homepage-login">
  <%= render 'sessions/form' %>
</div>