<h2>Current ongoing courses</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-xs-8">Name</th>
    <th class="col-xs-4">Course leader</th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= link_to course.leader.format_name(false), course.leader %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<a href="#">Show past courses</a>